@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.headerBgpic{
  background-image: url(./assets/image/png/headerBgpic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.featuredBgImg{
  background-image: url(./assets/image/webp/featuredBgImg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.impactBgImg{
  background-image: url(./assets/image/webp/impactBg.Img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.AccordianImg{
  background-image: url(./assets/image/webp/AccordianImg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.btnBody{
  background-image: url(./assets/image/png/btnBody.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fireplaceBgimg{
  background-image: url(./assets//image/png/fireplaceBgimg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.debbi_img{
  background-image: url(./assets/image/webp/debbi_img.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.suscribeBgImg{
  background-image: url(./assets/image//png/suscribeBgImg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
/* .news_Bg{
  background-image: url(./assets/image/webp/suscribe_Bg_img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
.footerBgImg{
  background-image: url(./assets/image/webp/footerBgImg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.slick-slide {
  margin: 0 12px;
}
/* the parent */
.slick-list {
  margin: 0 -12px;
}