@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
  @apply max-w-[1140px] mx-auto px-3
}
.row{
  @apply flex flex-row flex-wrap -mx-3
}
.slider-dots {
  position: absolute;
  bottom: -50px;
  display: flex;
  align-items: center;
}

.slick-dots li.slick-active button:before {
  font-size: 0;
}

.slick-dots li button:before {
  font-size: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.slick-dots li {
  background: white;
  opacity: 70%;
  border-radius: 8px !important;
  width: 50px !important; 
  height: 10px !important; 
  margin: 0px 8px !important;
  cursor: pointer;
  transition: all 200ms linear;
}
.slick-dots{
gap: 10px !important;
display: flex !important;
}
.slick-dots li.slick-active{
  background: linear-gradient(90deg, #FF1E2F 0%, #3EBFFF 100%);
  border-radius: 30px;
  height: 10px;
  width: 172px !important;
}